body{
    /* 
    background: linear-gradient(to left, #c0d4f0 0%, #cca3ff 100%);
    background-image: url("../Assets/yoaosbi_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    */
    background: black;
    color: #f72557;
    font-family: Helvetica;
    font-size: 1.5em;
}

div{
    border-radius: 1.5em;
}

hr{
    /* background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%); */
    background-image: linear-gradient(-20deg, #ffffff 0%, #f72557 100%);
    height: 0.1em;
    /* border-radius: 3em; */
    border-style: hidden;
}

input{
    text-align: center;
    /* border-radius: 0.5em; */
    border-width: 0em;
    cursor: pointer;
    /* font-size: 1.8em;
    height: 70px; */
    font-size: 1.4em;
    height: 105px;
    width: 20em;
}


/* index.html----------------------------------------------------------------------------*/
#index{
    margin: 175px auto;
    width: 90%;
}

#fullName{
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 1.5em;
}

#secondPart{
    text-align: center;
    width: 50%;
    margin: auto;
}

#classPage{
    text-align: center;
    width: 50%;
    margin: auto;
}

.botton{
    /* background: rgba(0, 0, 0, 0); */
    color: white;
    background: transparent;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
}

.botton:hover{
    /* background: #f72557; */
    color: #f72557;
    /* font-style: italic; */
    background: transparent;
    /* border-style: hidden; */
    border-style: solid;
    border-color: #f72557;
    border-width: 1px;
    box-shadow: 0px 0px 1em 0px rgba(247, 37, 87, 0.6), 
                0px 0px 1.8em 0px rgba(247, 37, 87, 0.4) inset;
}

@media only screen and (max-width: 900px){
    /* index HTML*/
    #index, #fullName, #secondPart, #classPage{
        width: 100%;
    }

    /* About Me HTML */
    .content .brief, .content .list{
        width: 100%;
    }
    img{
        width: 100%;
    }
}